@use "@/styles/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.ready {
        opacity: 1;
    }
}
