@use "@/styles/variables" as *;
@use "@/styles/tds_typography" as typography;

.switchLabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.switchWrapper {
    display: inline-flex;
    align-items: center;
}

.labelText {
    margin-left: 12px;
    @include typography.tds-t6("medium");
    color: $tds-grey-800;
}
