@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.Trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  gap: 5px;
  background-color: white;
  border: 1px solid v.$grey-300;
  color: v.$grey-900;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s v.$ease-ios;

  &:hover {
    background-color: v.$grey-50;
  }

  &[data-placeholder] {
    color: v.$grey-500;
  }

  &.xs {
    height: v.$control-height-xs;
    padding: 0 v.$control-padding-xs;
    font-size: v.$control-font-size-xs;
    border-radius: v.$radius-sm;
  }

  &.sm {
    height: v.$control-height-sm;
    padding: 0 v.$control-padding-sm;
    font-size: v.$control-font-size-sm;
    border-radius: v.$radius-sm;
  }

  &.md {
    height: v.$control-height-md;
    padding: 0 v.$control-padding-md;
    font-size: v.$control-font-size-md;
    border-radius: v.$radius-md;
  }

  &.lg {
    height: v.$control-height-lg;
    padding: 0 v.$control-padding-lg;
    font-size: v.$control-font-size-lg;
    border-radius: v.$radius-lg;
  }

  &.xl {
    height: v.$control-height-xl;
    padding: 0 v.$control-padding-xl;
    font-size: v.$control-font-size-xl;
    border-radius: v.$radius-xl;
  }

  // Variants
  &.toss {
    @include m.toss-interactive;
    background-color: v.$grey-50;
    border: 1px solid v.$grey-100;
    font-weight: 600;
  }
}

.Icon {
  color: v.$grey-500;
}

.Content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  border: 1px solid v.$grey-200;
  z-index: 1000;
}

.Viewport {
  padding: 5px;
}

.Item {
  font-size: 14px;
  line-height: normal;
  color: v.$grey-900;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  cursor: pointer;

  &[data-disabled] {
    color: v.$grey-400;
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: v.$banana-yellow;
  }
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: v.$grey-700;
  cursor: default;
}
