@use "../../../styles/variables" as v;

.alert {
  position: relative;
  width: 100%;
  border-radius: v.$radius-md;
  border: 1px solid v.$color-border;
  padding: 0.75rem 1rem;
  font-size: v.$font-size-sm;
  color: v.$color-foreground;
  background: v.$color-background;

  > svg + div {
    transform: translateY(-3px);
  }

  > svg {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: v.$color-foreground;
  }

  > svg ~ * {
    padding-left: 1.75rem;
  }
}

.destructive {
  border-color: rgba(v.$color-danger, 0.5);
  color: v.$color-danger;

  > svg {
    color: v.$color-danger;
  }
}

.title {
  margin-bottom: 0.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.01em;
}

.description {
  font-size: v.$font-size-sm;

  p {
    line-height: 1.6;
  }
}
