@use '@/styles/variables' as v;

.editorWrapper {
    margin-top: 1rem;
    width: 100%;
    background-color: v.$white;
    overflow: hidden;
    transition: all v.$transition-200 v.$ease-standard;
}