@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.trigger {
    @include m.input-base;
    @include m.flex-between;
    width: 100%;
    padding: 0 1rem;
    background-color: white;
    transition: all v.$transition-fast v.$ease-standard;
    min-height: v.$input-height;

    &:active:not(:disabled) {
        transform: scale(0.98);
    }

    &.sm {
        height: 36px;
        font-size: 14px;
    }

    &.md {
        height: 48px;
        font-size: 16px;
    }

    &.lg {
        height: 56px;
        font-size: 18px;
    }
}

.icon {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
    transition: transform v.$transition-fast;

    &.open {
        transform: rotate(180deg);
    }
}

.placeholder {
    color: v.$zinc-400;
}

.dropdown {
    width: 100%;
    padding: 0.5rem;
}

.bodyPadding {
    padding-bottom: 24px;
}