@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;
@use "../../../styles/animations";


.iconButton {
  position: relative;
  transition: transform v.$transition-100 v.$ease-in-out;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(v.$scale-press-xs);
  }

  // Button Sizes
  &.sm {
    width: v.$button-height-icon-sm;
    height: v.$button-height-icon-sm;
    border-radius: v.$radius-sm;
  }

  &.md {
    width: v.$button-height-icon;
    height: v.$button-height-icon;
    border-radius: v.$radius-md;
  }

  &.lg {
    width: v.$button-height-icon-lg;
    height: v.$button-height-icon-lg;
    border-radius: v.$radius-lg;
  }

  &.rounded {
    border-radius: v.$radius-full;
  }
}

.icon {
  transition: opacity v.$transition-200;
  flex-shrink: 0;

  &.faded {
    opacity: 0.2;
  }

  // Icon Sizes
  &.sm {
    width: 16px;
    height: 16px;
  }

  &.md {
    width: 24px;
    height: 24px;
  }

  &.lg {
    width: 28px;
    height: 28px;
  }
}

.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: spin 1s linear infinite;
  color: currentColor;
}