@use "../../../styles/variables" as v;

.header {
    padding: 32px 24px 16px;
    text-align: center;
    flex-shrink: 0;

    .title {
        font-size: 1.125rem;
        font-weight: 700;
        color: v.$text-primary;
        margin: 0;
    }
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 0 24px 24px;
}

.footer {
    flex-shrink: 0;
    padding: 0;
}

// Adjusting standard TDS Modal.Content to work with our sections