@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family-base;
  font-size: 16px;
  background-color: $color-background;
  color: $color-foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}