@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.header {
  text-align: center;
  margin-bottom: 16px;
  padding-top: 8px;
}

.calendar {
  margin: 0 auto;
}

.calendarBody {
  display: flex;
  justify-content: center;
  padding: 8px 16px 24px;
}

.fullWidth {
  width: 100%;
}
