@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.triggerButton {
  @include m.input-base;
  height: v.$input-height; // Select 등 다른 입력 폼과 높이 통일
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    border-color: v.$zinc-400;
  }

  & > svg {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
  }
}

.placeholder {
  color: v.$color-muted-foreground;
}

.value {
  color: v.$color-foreground;
}

.drawerHeader {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid v.$color-border;
}

.drawerTitle {
  text-align: left;
  font-size: v.$font-size-base;
  font-weight: 700;
  color: rgba(v.$color-foreground, 0.9);
}

.calendarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem 2rem 1rem; // 상단 1.5rem, 하단 2rem으로 여백 확보
}

.calendar {
  padding: 0;
  border: 0;
  transform: scale(1.1);

  @include m.desktop {
    transform: scale(1);
  }
}

.popoverContent {
  width: auto;
  padding: 0;
}

.srOnly {
  @include m.visually-hidden;
}
