@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 1.25rem 0; // Added horizontal padding and top margin for mobile

    @include m.desktop {
        margin-bottom: 2rem;
        padding: 0; // Reset padding for desktop as it's handled by MyPageLayout
    }
}

.sectionTitle {
    font-size: v.$font-size-xl;
    font-weight: 700;
    color: v.$zinc-900;

    @include m.desktop {
        font-size: v.$font-size-2xl;
    }
}

.actions {
    display: flex;
    gap: 0.5rem;
}