@use "@/styles/variables" as v;
@use "@/styles/builder" as b;

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.optionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
