@use "@/styles/variables" as *;

.ddayEditor {
    .ddayHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .messageInput {
        :global(input) {
            text-align: center;
            font-weight: 700;
            font-size: 1.125rem;
            color: #111827;

            &::placeholder {
                font-weight: 500;
                font-size: 0.9375rem;
            }
        }
    }
}
