@use '../../../styles/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionItem {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:has(.rowRight) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.rowTitle {
  font-size: v.$font-size-xs;
  font-weight: 600;
  color: v.$grey-600;
}

.rowRight {
  display: flex;
  align-items: center;
}

.optionWrapper {
  @include v.section-option-wrapper;
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0.25rem;
}

.nameForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}
