@use '../../../styles/variables' as v;
@use '../../../styles/animations';

.rowLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
}

.contentWrap {
  padding-bottom: v.$builder-gap-md;
}
