@use "@/styles/variables" as v;

.progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  /* 헤더보다 높게 */
  pointer-events: none;
  background-color: rgba(v.$white, 0.1);
  backdrop-filter: blur(4px);

  &.size-light {
    height: 2px;
  }

  &.size-normal {
    height: 4px;
  }

  &.size-bold {
    height: 6px;
  }
}


.tdsProgressOverride {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  /* 상단 바형태이므로 둥근 모서리 제거하거나 조정 */
}