@use "@/styles/variables" as v;

.progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 9999;
  pointer-events: none;
}

.progressBar {
  height: 100%;
  background-color: v.$color-primary;
  box-shadow: 0 0 10px rgba(v.$color-primary, 0.5);
  width: 100%;
  animation: progress 2s ease-in-out infinite;
  transform-origin: left;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
