@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: white;
  border-radius: v.$radius-lg;
  cursor: pointer;
  transition: all v.$transition-200 v.$ease-ios;
  user-select: none;
  border: 1px solid v.$zinc-100;

  @include m.hover {
    background-color: v.$zinc-50;
    border-color: v.$zinc-200;
  }

  &:active {
    background-color: v.$zinc-100;
    transform: scale(0.995);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  flex: 1;
  margin-right: 1rem;
}

.label {
  font-size: v.$font-size-md;
  font-weight: 500;
  color: v.$zinc-900;
}

.description {
  font-size: v.$font-size-xs;
  color: v.$zinc-500;
}
