@use '../../../styles/variables' as v;

.body {
  height: 560px;
  min-height: 560px;
  width: 100%;
  overflow: hidden;
}

.embedWrapper {
  height: 560px;
  width: 100%;
  background-color: v.$white;
}

.footer {
  padding: 16px;
  border-top: 1px solid v.$grey-100;
}

.loading {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$text-sub;
  font-size: v.$font-size-base;
}
