@use '../../styles/variables' as v;

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: v.$grey-50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
}

.title {
  font-size: v.$font-size-2xl;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: v.$grey-900;
}
