@use '../../../styles/variables' as v;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 44px; // Touch target size optimization

  label {
    cursor: pointer;
    flex: 1; // Allow label to take available space
  }
}
