@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  display: flex;
  flex-direction: column;
  background-color: v.$grey-100; // Clean light background
  min-height: calc(100vh - 56px); // Account for header if any
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 16px;

  @include m.mobile {
    padding: 24px 0;
    background-color: v.$white;
    min-height: 100vh;
  }
}

.content {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  z-index: 1;

  @include m.mobile {
    max-width: none;
    padding: 0 16px;
  }
}
