@use "../../../styles/variables" as v;

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 4px 0;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;

    &:hover {
        .label:not(.disabled) {
            color: v.$zinc-900;
        }
    }
}

.radio {
    margin-top: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.label {
    cursor: pointer;
    font-weight: 500;
    transition: color v.$transition-fast;
    color: v.$zinc-900;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.description {
    font-size: 0.75rem;
    color: v.$zinc-500;
    line-height: 1.625;
    cursor: pointer;
}