@use "../../../styles/variables" as v;

.container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.375rem; 
}

.periodSection {
  flex: 1.2;
  min-width: 0;
}

.hourSection {
  flex: 1;
  min-width: 0;
}

.separator {
  color: v.$zinc-300;
  font-weight: 300;
  margin: 0 0.125rem;
}

.minuteSection {
  flex: 1;
  min-width: 0;
}
