@use "../../../styles/variables" as v;

.root {
    border-radius: v.$radius-lg;
    overflow: hidden;
    transition: all v.$transition-normal v.$ease-ios;
}

.surface {
    background-color: white;
    box-shadow: v.$shadow-sm;
}

.classic {
    background-color: white;
    border: 1px solid v.$color-border;
}

.box {
    background-color: v.$grey-50;
    border: 1px solid v.$grey-100;
}

.ghost {
    background-color: transparent;
}
