@use "../../../styles/variables" as v;

.root {
    border-radius: v.$radius-lg;
    overflow: hidden;
    transition: all v.$transition-normal v.$ease-ios;
}

.surface {
    background-color: white;
    box-shadow: none;
    border: 1px solid v.$grey-opacity-100; // 그림자 대신 아주 연한 선으로 구분
}

.classic {
    background-color: white;
    border: 1px solid v.$color-border;
}

.box {
    background-color: v.$grey-50;
    border: 1px solid v.$grey-100;
}

.ghost {
    background-color: transparent;
}
